body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

form {
    margin: 20px;
}

input {
    margin: 5px;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background-color: green;
    color: white;
    border: none;
}